<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>Welcome to VoiceViet!</h1>
    <div>
        <button type="button" onclick="init()">Initialize Recorder!</button>
    </div>
    <h2>Please check if initalization succeed or not in Console!</h2>
    <h2>Don't press this yet!</h2>
    <h2>Start recording!</h2>
    <div>
        <button type="button" onclick="record()">Start Recording!</button>
    </div>
    <h2>Stop recording!</h2>
    <div>
        <button type="button" onclick="stopRecord()">Finish Recording!</button>
    </div>
    <h2>Cancel recording!</h2>
    <div>
        <button type="button" onclick="cancelRecord()">Cancel Recording!</button>
    </div>
    <div>
        <h2>Storing user's recording</h2>
        <button type="button" onclick="uploadFile()">Upload Recording!</button>
    </div>
    <div>
        <h2>Download user's recording</h2>
        <button type="button" onclick="downloadFile()">Upload Recording!</button>
    </div>
    <%- include('firebase.ejs') %>
    <script src="/js/lib/WebAudioRecorder.js"></script>
    <script src="/js/recorder.js"></script>
</body>

</html>